{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" align="center">
                    <h3>Fire Detection</h3> 
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row h-100">
                                <div class="col">
                                    <div class="card mb-3 h-100" align="center" style="max-width: 18rem;">
                                        <div class="card-header" ><b>Voltage</b></div>
                                        <div class="card-body">
                                            <h5 class="card-title"></h5>
                                            <p class="card-text">25.7 V</p>
                                        </div>
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="card mb-3 h-100" align="center" style="max-width: 18rem;">
                                        <div class="card-header"><b>Current</b></div>
                                        <div class="card-body">
                                            <h5 class="card-title"></h5>
                                            <p class="card-text">2 A</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card mb-3 h-100" align="center" style="max-width: 18rem;">
                                        <div class="card-header"><b>Power</b></div>
                                        <div class="card-body">
                                          <h5 class="card-title"></h5>
                                          <p class="card-text">102.8 W</p>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card align-items-center d-flex h-100">
                                <img src="../static/logo.webp" class="card-img-top mt-3" style="width: 100px;" alt="logo">
                                <div class="card-body">
                                    <h5 class="card-title align-items-center" align="center">Wave Generator</h5>
                                    <p class="card-text text-center">
                                        Wave generator merupakan pembangkit listrik tenaga ombak berbasis IoT
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer" align="center">
                    <div class="card text-white bg-primary mt-1">
                        <div class="card-body">
                            <h5 class="card-text">Normal</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}